$steelBlue: #3D4F9F;
$mediumLightSteelBlue: #697CA6;
$lightSteelBlue: #8E96B7;
$extraLightSteelBlue: #D8E3FE;


.user_info {
  border: 2px solid $steelBlue;
  width: 600px;
}

.user {
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
  color: $steelBlue;
  text-transform: uppercase;
  border-bottom: 2px solid $steelBlue;
  flex-wrap: wrap;
}

button {
  margin-left: calc(50% - 50px);
  padding: 5px 10px;
  background: $steelBlue;
  border: 1px solid $steelBlue;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    color: $steelBlue;
    background: $extraLightSteelBlue;
  }
}

