@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

$steelBlue: #3D4F9F;
$mediumLightSteelBlue: #697CA6;
$lightSteelBlue: #8E96B7;
$extraLightSteelBlue: #D8E3FE;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $extraLightSteelBlue;
  font-family: 'Quicksand', sans-serif;
}

