* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #D8E3FE;
  font-family: "Quicksand", sans-serif;
}

.forms{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightslategray;
}

form{
  display: flex;
  column-gap: 10px;
}

form input{
  background: initial;
  padding: 3px 5px;
  border: 2px solid lightslategray;
  color: lightslategray;
  border-radius: 5px;
}

form button{
  background: initial;
  padding: 3px 5px;
  border: 2px solid lightslategray;
  color: lightslategray;
  border-radius: 5px;
  transition: all 0.4s linear;
  cursor: pointer;
}

form button:hover{
  background: lightslategray;
  color: #D8E3FE ;
}

.out{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.out>ul{
  list-style-type:none ;
  color: lightslategray;
}
li>button{
  background: initial;
  padding: 3px 5px;
  border: 2px solid lightslategray;
  color: lightslategray;
  border-radius: 5px;
  transition: all 0.4s linear;
  cursor: pointer;
}

li>button:hover{
  background: lightslategray;
  color: #D8E3FE ;
}