$steelBlue: #3D4F9F;
$mediumLightSteelBlue: #697CA6;
$lightSteelBlue: #8E96B7;
$extraLightSteelBlue: #D8E3FE;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $extraLightSteelBlue;
  font-family: 'Quicksand', sans-serif;
}

.wrap {
  border-bottom: 2px solid #3D4F9F ;
  display: flex;
  height: 500px;
  overflow: hidden;
  margin-bottom: 30px;

  .usersList, .postsList {
    overflow-y: scroll;
  }
}

ul {
  padding: 5px;
  color: $mediumLightSteelBlue;
  list-style-type: none;

  li {
    padding-left: 20px;
  }
}

h2 {
  font-weight: bold;
  color: $steelBlue;
  text-transform: uppercase;
  border-bottom: 2px solid $steelBlue;
  text-align: center;
  margin-bottom: 10px;
  position: sticky;
  background: $extraLightSteelBlue;
  top:0;
}

.commentsList{
  width: 100%;
  overflow-y:scroll;
  height: 260px;
}

.posts_sec{}

._hide{
  display: none;
}